<h2> Login </h2>
<%= form_with url: '/login' do |form| %>
  <div>
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>
  <div>
    <%= form.label :password %>
    <%= form.text_field :password %>
  </div>
  <%= form.submit "Login", class: "btn btn-default" %>
<% end %>